* {
	box-sizing: border-box;
	color:#232323;
}

h1, h2, h3 {
	text-align:center;
}

body {
	margin:0;
	padding:0;
}

header {
	width:100%;
	background-color:#f2f2f2;
	padding:10px 100px;
}

.wrapper {
	background-color:#f2f2f2;
	width:400px;
	padding:10px;
	margin:50px auto;
	border:1px solid black;
}

.column {
	width:100%;
	padding:10px;
	margin:10px 0;
	border:1px solid black;
}

.column input {
	width:100%;
	margin:10px 0;
}

select {
	width:100%;
	margin:10px 0;
}

.center {
	text-align:center;
}

tr {
	text-align:left;
}

th:nth-child(2), th:nth-child(3) {padding:10px;}

tr td:nth-child(2), tr td:nth-child(3) {padding:10px;}
#lat, #lon, #note, #gmt, #name, #dkname {display:none;}